<?xml version="1.0"?>
<launch>

<param name="/use_sim_time" value="true"/>ros


<!--<node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" />
-->
<!--
<node pkg="car_slam" type="encoder_odom_tf" name="odom_tf_broadcaster"/>
<node pkg="rosserial_python" type="serial_node.py" name="connection_to_car" args="/dev/ttyACM1"/>
-->

<node pkg="rviz" type="rviz" name="rviz" 
args="-d $(find car_slam)/rviz_cfg/mapping_demo.rviz"/>

<include file="$(find car_slam)/launch/hector_mapping_demo.launch"/>
<include file="$(find car_slam)/launch/geotiff_mapper_demo.launch">
<arg name="trajectory_source_frame_name" value="scanmatcher_frame"/> 
</include>

</launch>
